<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Lab</title>
    <link rel="stylesheet" href="static/models.css">
</head>
<body>
    <header>
        <h1>Neural Network Lab</h1>
    </header>
    <main>
        <!-- Content goes here -->
        <!-- Back Button -->
        <div class="center-btn text-center">
            <a href="/" class="model-btn">Back to Home</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Neural Network Lab</p>
    </footer>
</body>
</html>